<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3> Please fill the form for next week schedule. </h3>
    url: <%= link_to 'Schedule Form', new_schedule_url %>

    <p>Thanks for joining and have a great day!</p>
  </body>
</html>

